@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanuman", serif;

}
:root{
    --MainColor:rgb(233, 177, 73);
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(166, 185, 202);
    z-index: 999;
    top:0;
    position: sticky;
    display: flex;
}
.logo{
    margin-top: 15px;
    font-size: 30px;
}


menu{
    width: 80%;
    height: 90px;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    margin-right: 10%;
    
}

ul{
    list-style: none;
    display: flex;
    margin-top: 10px;
    opacity: 1;
}

ul li{
    margin: 15px; 
    
}

ul li a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: var(--MainColor);
}

ul li a:focus{
    color: var(--MainColor);
}

ul li:nth-child(5) a{
    padding: 10px; 
    background-color: rgb(144, 46, 46);
    color: white;
    border-radius: 50px;
    position: relative;
}
ul li:nth-child(5)>a>i{
   color: aliceblue;
   padding: 10px;
   background-color: var(--MainColor);
   border-radius: 50px;
   left: 0;
   bottom: 3px;
   top: 3px;
   position: absolute;
   
}
.fa-bars {
    margin-top: 20px;
    font-size: 25px;
    padding-right: 10px; 
    opacity: 0;
    visibility: hidden;
    position: absolute;   
    cursor: pointer;
    z-index: 999;

}
 #bar{
   display: none;
}




aside {
    display: grid;
    height: 100vh;
    position: relative;
    background-image: url(./images/_copy1.png);
    background-size: cover;
    background-position: center;
}

section .content{
    width: 100%;
    height: 70vh;
    margin: auto;
    /* background-color: pink; */
}

section>.content>h2{
    font-size: 3rem;
    color: white;
}

section>.content>button{
    padding: 10px;
    font-size: 18px;
}

 
.slidebar>.btn{
    position: absolute;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    bottom: 70%;
    margin-top: 20%;
    /* background-color: black; */
    top: 20px;  
    /* margin-top: 50%; */
    
}

.slidebar>.btn>a>button {
    font-size: 2.5rem;
    color: white;
    background-color: grey ;
    width: 60px;
    height: 60px;
    border: none; 
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    
}
.slidebar{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    place-content: center;
    /* opacity: 0;  */
    transition: all 0.5s ease-in-out;
    /* background-color: blue; */
    
}

#slide1{
    background-image: url(./images/_copy1.png);
    background-size: cover;
}
#slide2{
    background-image: url(./images/image_copy.png);
    background-size: cover;
}
#slide3{
    background-image: url(./images/image_copy_2.png);
    background-size: cover;
}

:target{
    opacity: 1;
    z-index:1;
}


.Best_Appartment{
    width: 80%;
    height: 90vh;
    /* background-color: rgb(113, 117, 198); */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
 
   
}

.Best_Appartment .content_Appartment_edge{
    width: 30%;
    height: 100%;
    /* background-color: rgb(14, 33, 80); */
    padding: 20px;
    position: relative;

}

.content_Appartment_edge img{
    width: 100%;
    height: 100%;
}

.featured-icon{
    position: absolute;
}

.Best_Appartment .content_Appartment_center{
    width: 40%;
    height: 100%;
    /* background-color: rgb(8, 88, 91); */
    padding: 20px;
}

.Best_Appartment .content_Appartment_center .text{
    font-size: 40px;
    margin-top: 6.5%;
    /* padding-left: 10px; */
    padding:  5px;
}

.group-text{
    padding: 5px;
    margin-top: 50px;
    
}
.group-text>label{
    /* background-color: gainsboro; */
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    border: none;
    cursor:pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    background-color: #fafafa;
}



.content-txt{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: grey
}

.group-text input[type="checkbox"]{
    display: none;
}


.group-text .group-check-box{
    width: 100%;
    background-color: #fafafa;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid grey;
    
}

.group-text input[id="BestToggler"]:checked ~ .content-txt{
    max-height: 100px;
}

.group-text input[id="DolorToggler"]:checked ~ .content-txt{
    max-height: 100px;
}

.group-text input[id="alsmesitToggler"]:checked ~ .content-txt{
    max-height: 100px;
}

.featured-icon {
    display :grid;
    place-items: center;
    width: 100px;
    height: 100px;
    background-color: #f35525;
    border-radius: 50%;
    bottom : -10px;
    left: -30px;
}

.featured-icon img{
    width: 60px;
    height: 60px;
}

.Best_Appartment .content_Appartment_edge1 {
    width: 25%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 2%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
   
}

.Best_Appartment .content_Appartment_edge1>.gp_img{
    margin-top: 10%;
    gap:10px;
    /* background-color: pink; */
    display: flex;
    padding-left: 30px;
       
}

img{
    width: 25%;
    height: 15%;
}

pre>strong{
    margin-top: 10px;
    padding-left: 35%;
    display: flex;
}

.view_Feeling {
    margin-top: 50px;
    height: 90vh;
    color: #fff; /* Fixed hex code */
    background-repeat: no-repeat;
    background-image: url(./images/video-bg.jpg);
    text-align: center;
    position: relative;
    margin-left: 42px;
    /* background-color: #f35525; */
}

.view_Feeling .text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.view_Feeling .img {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust width as needed */
}

.view_Feeling .img img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
}


.content_1{
    
    width: 80%;
    height: 150px;
    background-color: cadetblue;
    margin-top: 10%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.content_1 .content{
    width: 70%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 10px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    place-self: center;
    position: relative;
}

.content_1  .content .content-left{
    display: grid;
    place-self: center;
    /* background-color: chocolate; */
    padding-left: 25%;
}

.content-left>h2{
    font-size: 3rem;
    font-weight: bold;
    color: #f35525
}
.content_1  .content .content-right{
    display: grid;
    place-self: center;
    /* background-color: pink; */
    padding-right: 10%;
}

.content-right>h4{
    font-size: 1.5rem;
    font-weight: bold;
    
}

.content .circle{
    width: 60px;
    height: 60px;
    background-color: #f35525;
    border-radius: 50px;
    position: absolute;
    right: -10px;
    top: -30px;
}

@media(max-width: 1280px){
    header{
        position: relative;
    }
    menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }
    ul{
        opacity: 1;
        display: none;
        transition: all 1s ease-in-out;
        flex-direction: column;
        position: absolute;
         background-color: aliceblue; 
        width: 100%;
        right: -100%;
        top: 0;  
        padding: 2px;
        left: 0; 
        /* right: 30px; */
         margin-top: 12%; 
       
        
        
    } 
    .fa-bars{
        opacity: 1;
        visibility: visible;
        margin-left: 70%;
        /* display: flex; */
           
    }
    #bar:checked ~ ul{
        display: flex;
        opacity: 1;      
        top: 7px;  
        top:36px;  
        right: 0;
    }
    i{
        opacity: 1;
        display: flex;
    }

   .slidebar{
      width:100%;
      
   }

   .slidebar .btn{
      padding-top: 1%;
      
      
   }

   .slidebar .content{
      width: 100%;
      
   }
    .Best_Appartment{
        width: 100%;
        flex-direction: column;
        height:auto;
    }

    .Best_Appartment .content_Appartment_edge{
        width: 100%;
    }
    .featured-icon{
        width: 80px;
        height:80px;
        border-radius: 50%;
        bottom:-5px;
        left: -5px;
    }

    .featured-icon img{
        width: 60px;
        height: 60px;
    }

    .Best_Appartment .content_Appartment_center{
        width: 100%;
        
    }

    .Best_Appartment .content_Appartment_center .group-text{
        font-size: 1.5rem;
    }

    .Best_Appartment .content_Appartment_edge1 {
        width: 100%;
        margin-top: 5%;
    }

    .Best_Appartment .content_Appartment_edge1  .gp_img{
        width: 50%;
        font-size: 2rem;
        padding: 2%;
    }


    .view_Feeling {
        margin-top: 50px;
        height: 50vh;
        color: #fff; /* Fixed hex code */
        background-repeat: no-repeat;
        background-image: url(./images/video-bg.jpg);
        text-align: center;
        position: relative;
        margin-left: 0;
        /* background-color: #f35525; */
        width: 90vw;
        left: 60px;
        
    }
    

      .view_Feeling .text {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
    }
    
    .view_Feeling .img {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 80%; /* Adjust width as needed */
    }
    
    .view_Feeling .img img {
        width: 50%; /* Make the image fill its container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 15px;
    }
    
}


@media(max-width: 1024px){
    header{
        position: relative;
    }
    menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }
    ul{
        opacity: 1;
        display: none;
        transition: all 1s ease-in-out;
        flex-direction: column;
        position: absolute;
         background-color: aliceblue; 
        width: 100%;
        right: -100%;
        top: 0;  
        padding: 5px;
        left: 0; 
        /* right: 30px; */
         margin-top: 22%; 
       
        
        
    } 
    .fa-bars{
        opacity: 1;
        visibility: visible;
        margin-left: 70%;
        /* display: flex; */
           
    }
    #bar:checked ~ ul{
        display: flex;
        opacity: 1;      
        top: 7px;  
        top:36px;  
        right: 0;
    }
    i{
        opacity: 1;
        display: flex;
    }

   .slidebar{
      width:100%;
      
   }

   .slidebar .btn{
      padding-top: 25%;
      
      
   }

   .slidebar .content{
      width: 100%;
      
   }
    .Best_Appartment{
        width: 100%;
        flex-direction: column;
        height:auto;
    }

    .Best_Appartment .content_Appartment_edge{
        width: 100%;
    }
    .featured-icon{
        width: 80px;
        height:80px;
        border-radius: 50%;
        bottom:-5px;
        left: -5px;
    }

    .featured-icon img{
        width: 60px;
        height: 60px;
    }

    .Best_Appartment .content_Appartment_center{
        width: 100%;
        
    }

    .Best_Appartment .content_Appartment_center .group-text{
        font-size: 1.5rem;
    }

    .Best_Appartment .content_Appartment_edge1 {
        width: 100%;
        margin-top: 5%;
    }

    .Best_Appartment .content_Appartment_edge1  .gp_img{
        width: 50%;
        font-size: 2rem;
        padding: 2%;
    }

    .view_Feeling {
        margin-top: 50px;
        height: 50vh;
        color: #fff; /* Fixed hex code */
        background-repeat: no-repeat;
        background-image: url(./images/video-bg.jpg);
        text-align: center;
        position: relative;
        margin-left: 0;
        /* background-color: #f35525; */
    }
    

      .view_Feeling .text {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
    }
    
    .view_Feeling .img {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 80%; /* Adjust width as needed */
    }
    
    .view_Feeling .img img {
        width: 100%; /* Make the image fill its container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 15px;
    }
    
   

}

@media(max-width: 900px){
    ul li{
      flex-shrink: 0;
    }
    .Best_Appartment .content_Appartment_edge .content_Appartment_edge1{
        width: 100%;
    }

    .Best_Appartment .content_Appartment_center{
        width: 100%;
        margin-top: 50px;
    }

    .view_Feeling {
        margin-top: 50px;
        height: 50vh;
        color: #fff; /* Fixed hex code */
        background-repeat: no-repeat;
        background-image: url(./images/video-bg.jpg);
        text-align: center;
        position: relative;
        margin-left: 0;
        /* background-color: #f35525; */
    }
    

      .view_Feeling .text {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
    }
    
    .view_Feeling .img {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 80%; /* Adjust width as needed */
    }
    
    .view_Feeling .img img {
        width: 100%; /* Make the image fill its container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 15px;
    }
    
      
  }
  
@media(max-width : 800px){

    .Best_Appartment{
        flex-direction: column;
        
    }

    .Best_Appartment .content_Appartment_edge .content_Appartment_edge1{
        width: 100%;
    }

    .Best_Appartment .content_Appartment_center{
        width: 100%;
        margin-top: 50px;
    }
}
  @media(max-width: 600px){
      header{
          position: relative;
      }
      menu{
          display: flex;
          justify-content: space-between;
          align-items: center;
          
  
      }
      ul{
          opacity: 1;
          display: none;
          transition: all 1s ease-in-out;
          flex-direction: column;
          position: absolute;
           background-color: aliceblue; 
          width: 100%;
          right: -100%;
          top: 0;  
          padding: 5px;
          left: 0; 
          /* right: 30px; */
           margin-top: 22%; 
         
          
          
      } 
      .fa-bars{
          opacity: 1;
          visibility: visible;
          margin-left: 70%;
          /* display: flex; */
             
      }
      #bar:checked ~ ul{
          display: flex;
          opacity: 1;      
          top: 7px;  
          top:36px;  
          right: 0;
      }
      i{
          opacity: 1;
          display: flex;
      }

     .slidebar{
        width:100%;
        
     }

     .slidebar .btn{
        padding-top: 75%;
        
        
     }

     .slidebar .content{
        width: 100%;
        
     }
  
      .Best_Appartment {
          width: 100%;
          flex-direction: column;
          height:auto;
         
      }
 
  
      .Best_Appartment .content_Appartment_edge{
         /* background-color: #f35525; */
         width: 100vw; 
        
      }

      .Best_Appartment .content_Appartment_edge> img{
        width: 100%;
        height: 50%;
        object-fit: cover;
      }

    .featured-icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        bottom: 5px;
        left: 5px;
        
      }
      .featured-icon img{
        width: 40px;
        height: 40px
      }

      .Best_Appartment .content_Appartment_center {
        width: 100%;
        height: 100%;
        /* background-color: burlywood; */
        font-size: 35px;

      }
     
      .Best_Appartment .content_Appartment_center .group-text .group-check-box{
        width: 100%;
        border-radius: 3px;
        font-size: 20px;
       
      }

      .Best_Appartment .content_Appartment_edge1{
        width: 100%;
        height: 95%;
        margin-top: 20px;
        font-size:1.3rem;
      }

      .content_Appartment_edge1 .gp_img{
        width: 80%;
      }

      .view_Feeling {
        margin-top: 50px;
        height: 100vh;
        color: #fff; /* Fixed hex code */
        background-repeat: no-repeat;
        background-image: url(./images/video-bg.jpg);
        text-align: center;
        position: relative;
        left: 5%;
        /* background-color: #f35525; */
    }
    

      .view_Feeling .text {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
    }
    
    .view_Feeling .img {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 80%; /* Adjust width as needed */
    }
    
    .view_Feeling .img img {
        width: 100%; /* Make the image fill its container */
        height: auto; /* Maintain aspect ratio */
        border-radius: 15px;
    }
    
    .content_1{
       width: 20px;
       height: 20vh;
       margin-top: 10px;

    }
    
  
  }
  

